/* CSS VARIABLES */
:root {
  --primary: #141414;
  --light: #f3f3f3;
  --dark: #686868;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* HEADER */

header {
  height: 460px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 35%,
      rgba(20, 20, 20, 1) 100%
    ),
    url('https://wallpaperaccess.com/full/1561985.jpg');

  background-size: cover;
}

nav {
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav > img {
  width: 250px;
  object-fit: cover;
  margin-left: 50px;
}

.nav-links {
  margin: 10px 0 0 50px;
}

.nav-links > a {
  color: var(--light);
  text-decoration: none;
  margin-left: 20px;
}

.best-movie {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 4rem 10rem;
  font-size: medium;
}

.best-movie-info {
  max-width: 580px;
}

.best-movie-cover img {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 182px;
}

.best-movie > h2 {
  font-size: 2.5rem;
}

.best-btn {
  margin-top: auto;
  padding: 5px;
  background-color: var(--light);
  border-color: var(--light);
  border-radius: 5px;
  color: var(--dark);
  font-size: small;
  width: 120px;
}

/* MAIN */

main {
  padding: 0 25px;
}

section {
  margin: 35px;
}

section h1 {
  margin-left: 4rem;
}

.carousel-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.carousel-arrow {
  background-color: var(--dark);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
}

.carousel-items {
  display: inherit;
  padding: 15px;
  gap: 5px;
  overflow: hidden;
}

.carousel-items img {
  width: 182px;
  height: 268px;
}

.scrollable {
  scroll-behavior: smooth;
}

.movie-cover:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-out;
  cursor: grab;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 50px 0 0 0;
}

.movie-card-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #949090cb;
}

.hidden {
  display: none;
}

.movie-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--primary);
  border-radius: 25px;
  height: 75vh;
  max-width: 75vw;
}

.movie-infos-head {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.movie-card-infos img {
  width: 200px;
  border-radius: 25px 0 0 0;
}

.movie-details {
  padding: 0 25px;
}

.details-list {
  list-style-type: none;
}

.movie-synopsis {
  margin: 0 35px;
}

li span {
  font-weight: bold;
}

.close-btn {
  position: relative;
  margin-left: auto;
  top: 10px;
  right: 15px;
  fill: #686868;
}

@media (max-width: 1160px) {
  .nav-links {
    display: none;
  }

  .best-movie {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
  }

  main {
    margin-top: 10rem;
  }

  .cat-section {
    margin: 35px 0;
  }
}
@media (max-width: 666px) {
  .movie-details {
    font-size: small;
    padding: 0;
  }

  .movie-card {
    max-width: 90vw;
  }
}
